.main-wrap {
  width: 450px;
  background: linear-gradient(180deg, rgba(107, 129, 167, 0) 0%, rgba(107, 129, 167, .1) 54%, rgba(107, 129, 167, .5) 100%);
  padding: 0px 40px 20px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -55%);
  .tablist {
    width: 100%;
    color: #fff;
    .systerm {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      padding: 20px 0 40px;
    }
  }
  /deep/ input, .ivu-select {
    outline: none;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(16, 23, 44, .6);
    border: none;
    color: #fff;
    &::placeholder {
      color: #fff;
      font-size: 14px;
    }
  }
  /deep/ .ivu-select-single .ivu-select-selection{
    height: 50px;
    border: none;
    background: none;
    .ivu-select-selected-value, .ivu-select-placeholder{
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #fff;
      padding-left: 18px;
    }
  }
  /deep/ .ivu-input-with-prefix {
    padding-left: 54px;
  }
  /deep/ .ivu-input-prefix {
    width: auto;
    padding-left: 12px;
    i {
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      font {
        display: inline-block;
        width: 1px;
        height: 15px;
        background: #fff;
        margin-left: 10px;
      }
    }
  }
  /deep/ .ivu-checkbox-wrapper {
    font-size: 14px;
  }
}

// 箭头
/deep/ .ivu-cascader-arrow, /deep/ .ivu-select-arrow {
  font-size: 22px;
  color: #fff;
}

.submit {
  border-radius: 25px;
  height: 47px;
  background: #2f6af9;
  font-size: 17px;
  color: #fff;
  text-align: center;
  border: solid 1px #5587ff;
  &:hover {
    background: #4561d7;
    border: solid 1px #5587ff;
  }
}

.to-apply {
  font-size: 15px;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
    padding-bottom: 2px;
    border-bottom: solid 1px #fff;
  }
}

/deep/ .ivu-form-item-error-tip {
  color: #ff6259;
}


// 选择登录弹框
.comDlg {
  color: #00202d;
  /deep/ .ivu-radio {
    display: none;
  }
  .title {
    font-size: 32px;
    font-weight: normal;
  }
  .check-way {
    display: flex;
    justify-content: space-between;
  }
  .check-type {
    display: block;
    width: 120px;
    height: 150px;
    background-size: 120px 120px;
    background-repeat: no-repeat;
    cursor: pointer;
    .check-name {
      text-align: center;
      font-size: 14px;
      padding-top: 148px;
    }
  }
  .ads {
    background-image: url('./assets/abs.png');
    &.checked {
      background-image: url('./assets/abs-check.png');
    }
  }
  .resource {
    background-image: url('./assets/cinema.png');
    &.checked {
      background-image: url('./assets/cinema-check.png');
    }
  }
  .producer {
    background-image: url('./assets/producer.png');
    &.checked {
      background-image: url('./assets/producer-check.png')
    }
  }
  .regAgency {
    background-image: url('./assets/regAgency.png');
    &.checked {
      background-image: url('./assets/regAgency-check.png')
    }
  }
}

// input 自动填入样式修改
@keyframes autofill {
  to {
    color: #fff;
    background: rgba(16,23,44,0.6);
    font-size: 14px;
  }
}
@-webkit-keyframes autofill {
  to {
    color: #fff;
    background:rgba(16, 23, 44, .6);
    font-size: 14px;
  }
}

// 优化滚动条
/deep/ input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// form error message
/deep/ .ivu-form-item-error-tip{
  padding-top: 4px;
}