
h1, h2, h3 ,h4, h5 {
    font-weight: normal;
}
.text-center {
    text-align: center;
}
// 背景轮廓
.com-modal {
  background: rgba(0, 32, 45, .8);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}
// 背景 - title
.com-modal-title {
  height: 60px;
  line-height: 60px;
  background: rgba(0, 32, 45, .8);
  color: #fff;
  font-weight: normal;
  font-size: 15px;
}

// kol-主要作品
.query-select {
  /deep/ .ivu-tabs {
    color: #fff;
    .ivu-tabs-nav {
      margin-left: 30px;
    }
    .ivu-tabs-tab {
      line-height: 45px;
      text-align: center;
      padding: 0 10px;
      &:hover {
        color: inherit;
      }
    }
    .ivu-tabs-tab-active {
      color: #fff;
      font-size: 14px;
    }
    .ivu-tabs-bar {
      border-bottom: none;
    }
    .ivu-tabs-ink-bar {
      background-color: #fff;
    }
  }
}

.order-nav {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: normal;
}




// select input 
.jyd-form {
  /deep/ .ivu-select {
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    .ivu-select-selection {
      height: 40px;
      border-radius: 5px;
      border: none;
    }
    .ivu-select-placeholder {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .ivu-select-selected-value {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
  }
  /deep/ .ivu-select-input {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  /deep/ .ivu-date-picker {
    .ivu-input-suffix {
      height: 40px;
      i {
        height: 40px;
        line-height: 40px;
      }
    }
  }
  /deep/ .ivu-input {
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
  }
}


// btn
.order-form {
  /deep/ .ivu-btn {
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
  }
}
/deep/ .ivu-btn {
  height: 40px;
}


