.list-box {
  background: #204350;
  margin: 0 20px;
  border-radius: 5px;
  padding-bottom: 40px;
}
.list-table {
  position: relative;
  background: #204350;
  border-radius: 5px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 61px;
    border-radius: 5px 5px 0 0;
    background: #204350;
  }
  /deep/ .ivu-table-header {
    position: relative;
  }
  /deep/ .ivu-table-row {
    border-bottom: 1px solid #00202d;
  }
}
/deep/ .ivu-table-wrapper {
  border-radius: 5px;
  min-height: 280px;
  position: relative;
  margin: 20px 0;
  .ivu-table-header th {
    height: 60px;
    background: rgba(0, 32, 45, 0.8);
    color: #fff;
    line-height: 60px;
    span {
      font-size: 14px;
    }
  }
  .ivu-table-column-center, .ivu-table-column-left {
    background: #204350;
  }
  .ivu-table {
    background: #204350;
    td {
      height: 60px;
    }
  }
  .ivu-table-row {
    background: #204350;
    td {
      color: #fff;
      background: #204350;
      a {
        color: #4fa6bb;
      }
    }
  }
  .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td {
    background: #204350;
  }
  .ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td {
    background: #204350;
  }
  .ivu-table-body .ivu-table-column-center, /deep/ .ivu-table-body .ivu-table-column-left {
    span {
      color: #fff;
      font-size: 14px;
    }
  }
// 暂无数据
  .ivu-table-tip {
    line-height: 200px;
    td {
      color: #fff;
      background: #204350;
    }
  }
}

