/* 详情更多，可通用于影片、影人、KOL订单详情更多页 */
.detailmore-card {
  background: none;
  border: none;
  color: #fff;
  .ivu-card-head {
    background: rgba(0,32,45,0.8);
    border-radius: 5px 5px 0 0 ;
    border: none;
  }
  .title-right {
    flex: 1;
    width: 100%;
    text-align: right;
  }
  .ivu-card-body {
    padding: 0 ;
    margin-top: 10px;
  }
  .content {
    padding: 0;
    .chart-wp {
      background: rgba(0,32,45,0.8);
      min-height: 200px;
      position: relative;
      &.borderRadius {
        border-radius: 0 0 5px 5px;
      }
      & .title-box {
        font-size: 16px;
        color: #fff;
        text-align: left;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0 0 20px;
        & i {
          position: relative;
          top: -2px;
          font-size: 20px;
          color:rgba(111,133,143,0.85);
          margin-left: 10px;
        }
      }
      & .circle-box{
        position: absolute;
        z-index: 9;
        right: 15px;
        top: 15px;
        & h6 {
          font-size: 20px;
          font-weight: normal;
        }
        & p {
          font-size: 12px;
        }
      }
    }
  }
  .selectedBox {
    text-align: left;
  }
}

.layout-panel {
  padding-top: 30px;
  border-radius: 10px;
}
.ivu-form-item {
  padding-left: 30px;
  color: @c-text;
  margin-bottom: 0;
}
/deep/ .ivu-input-icon {
  line-height: 40px;
  height: 40px;
}
.radio-item-type {
  font-size: 14px;
  margin-top: 4px;
  .ivu-radio-wrapper {
    font-size: 14px;
    margin-right: 35px;
  }
}
/deep/ .ivu-select-input {
  height: 40px;
  line-height: 40px;
}