/**
 * less 变量 & 函数库，不要放具体的样式
 * @author zhangpeng
 */

/** 默认正文颜色（即设计文档中的「二级主字」） */
@c-text: #00202d;

/** 链接颜色（即设计文档中的「蓝色辅色」，某些突出展示的标题、文字也用这个颜色）*/
@c-link: #3398db;

/** 主按钮色（即设计文档中的「辅色/边框」） */
@c-button: #3398db;

/** 边框色 */
@c-border: #bce2f0;

/** 分割线 */
@c-divider: #bce2f0;

/** 置灰 */
@c-disabled: #ddd;

/// 以下颜色变量，可能会被逐步放弃

// 资源方 btn 主题色
@c-res-btn: #3b98ff;

/** 标题文字颜色（即设计文档中的「主字色」） */
@c-head: #222;
/** 标题背景颜色 */
@c-head-bg: #f9f9f9;

/** 次级文本颜色（即设计文档中的「二级字」） */
@c-sub-text: #888;

/** 主色（先定义着，不知道哪些场景用，个人认为与 c-link 的职责是重复的）*/
@c-primary: #0f4d96;

/** 虚按钮背景色（即设计文档中的「辅色/边框」） */
@c-button-weak: #fff8f2;

/** 错误色（即设计文档中的「红色辅色」） */
@c-fail: #ff1000;
/** 成功色（即设计文档中的「绿色辅色」） */
@c-done: #05b824;

/** 资源方按钮主色 */
@c-button-resource: #3b98ff;

// 不考虑英文单词，全部断开，用于中文环境多的场景下
.wrap() {
  word-break: break-all;
  word-wrap: break-word;     // 用于英文断词
  white-space: pre;          // CSS 2.0
  white-space: pre-wrap;     // CSS 2.1
  white-space: pre-line;     // CSS 3.0
}

// keep text nowrap
.nowrap() {
  word-wrap: nowrap;
  word-break: keep-all;
  white-space: nowrap;
}

// 截取字符串，超出显示 ...
.cut-text(@max-width: 100%) {
  max-width: @max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  .nowrap;
}

// 以下 button 变量、函数，从 node_modules/iview/src/styles/mixins/button.less 中提取

@btn-disable-color      : #c5c8ce;
@btn-disable-bg         : #f7f7f7;
@btn-disable-border     : #dcdee2;

// 设置按钮的颜色
.button-color(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;
}

// 设置按钮的样式
.button-style(@color; @background; @border: @background) {
  .button-color(@color; @background; @border);

  &:hover,
  &:focus {
    .button-color(tint(@color, 20%); tint(@background, 20%); tint(@border, 20%));
  }

  &:active,
  &.active {
    .button-color(shade(@color, 5%); shade(@background, 5%); shade(@background, 5%));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      .button-color(@btn-disable-color; @btn-disable-bg; @btn-disable-border);
    }
  }
}
