
@text-color: #444;// 文字标准色
@body-bg:rgba(246, 247, 253, 1);// 项目背景色
@theme-color: #fe8135;// 项目主题色
@theme-26344B:#26344B;// 邮箱统一颜色

.wid-auto {
    max-width: 1100px;
    margin: 0 auto;
}

.flex(){
    display:-webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

// btn 按钮
.form-btn{
    background: @theme-color;
    height: 50px;
    font-size:16px;
}

// form label
.form-label{
    padding:17px 12px 17px 0;
    font-size:16px;
    color: @theme-26344B;
}

// form input
.form-input{
    height:50px;
    font-size:15px;
    padding-left:8px;
}