/**
 * 通过 override 覆盖组件库的样式
 * @author zhangpeng
 */

// input-select
.ivu-select-selection, .ivu-input {
  border-radius: 0;
}

// Table默认边框去除border
.ivu-table-wrapper{
  margin: 30px 20px 20px;
  border: none;
}
.ivu-table th, .ivu-table td,{ border-bottom: none;}
.ivu-table:before, .ivu-table:after{
  height: 0;
}

.ivu-modal-footer{
  border-top: 0;
}
