/**
 * 工具样式
 * @author zhangpeng
 */
/**
 * less 变量 & 函数库，不要放具体的样式
 * @author zhangpeng
 */
/** 链接颜色（即设计文档中的「蓝色辅色」，某些突出展示的标题、文字也用这个颜色）*/
/** 标题文字颜色（即设计文档中的「主字色」） */
/** 标题背景颜色 */
/** 默认正文颜色（即设计文档中的「二级主字」） */
/** 次级文本颜色（即设计文档中的「二级字」） */
/** 主色（先定义着，不知道哪些场景用，个人认为与 c-link 的职责是重复的）*/
/** 分割线 */
/** 置灰 */
/** 边框色 */
/** 主按钮色（即设计文档中的「辅色/边框」） */
/** 虚按钮背景色（即设计文档中的「辅色/边框」） */
/** 错误色（即设计文档中的「红色辅色」） */
/** 成功色（即设计文档中的「绿色辅色」） */
/** 资源方按钮主色 */
.flex-box {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wid-auto {
  max-width: 1100px;
  margin: 0 auto;
}
.home-bg {
  min-height: 100%;
  background: #fff;
  overflow-y: scroll;
  height: 100%;
}
.btnCenter {
  text-align: center;
}
.layout-title {
  position: relative;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  background: #f9f9f9;
}
.layout-title em {
  color: #fe8135;
  position: absolute;
  right: 20px;
  font-weight: normal;
  cursor: pointer;
}
.layout-nav-title {
  height: 50px;
  padding: 14px 30px 33px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: solid 10px #f2f2f2;
  color: #2481d7;
}
.site-layout {
  background: #f2f2f2;
}
.button-cancel {
  display: inline-block;
  height: 50px;
  width: 160px;
  background: #fff8f2;
  border-radius: 2px;
  border: 1px solid #fe8135;
  color: #fe8135;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
.button-ok {
  display: inline-block;
  height: 50px;
  width: 160px;
  background: #fe8135;
  border-radius: 2px;
  border: 1px solid #fe8135;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.button-offset {
  margin-right: 20px;
}
.text-rows {
  padding: 20px 0 30px 30px;
  font-size: 14px;
  color: #444;
}
.text-rows p {
  margin-bottom: 20px;
}
.text-rows p label {
  display: inline-block;
  width: 105px;
  color: #888;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center-modal .ivu-modal {
  top: 0;
}
.vertical-center-modal .ivu-modal .ivu-modal-header-inner {
  color: #272727;
  font-weight: 300;
}
.edit-input .ivu-select-input {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.edit-input .ivu-input-icon {
  height: 40px;
  line-height: 40px;
}
.edit-input .span-class {
  font-size: 14px;
  display: block;
  line-height: 40px;
}
.edit-input .ivu-form-item-label {
  font-size: 14px;
  padding: 13px 12px 13px 0;
  text-align: left;
}
.edit-input .ivu-form-item-content .ivu-select-selection {
  width: 400px;
  height: 40px;
}
.edit-input .ivu-form-item-content .ivu-select-selection .ivu-select-selected-value {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.edit-input .ivu-form-item-content .ivu-select-selection .ivu-select-placeholder {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.edit-input .ivu-form-item-content .ivu-input-wrapper {
  width: 400px;
}
.edit-input .ivu-form-item-content .ivu-input-wrapper input {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.item-top {
  padding-top: 20px;
}
.nav-top-title {
  color: #2481d7;
}
.query-cinema {
  color: #fe8135;
  cursor: pointer;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 7px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 7px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background-color: #ddd;
}
.site-sider::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 7px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 7px;
}
.site-sider::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background-color: rgba(87, 129, 175, 0.5);
}
