/**
 * 工具样式
 * @author zhangpeng
 */

.flex-box {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

// 按钮but样式
.bgHei{
	height: 100%;
	background: #fff;
}
.btnCenter{
	text-align: center;
}
.submitBtn {
	padding: 15px 32px;
	font-size: 16px;
	background: #fe8135;
	color: #fff;
	border: none;
	border-radius: 2px;
	border: 0;
	margin: 100px 0 40px;
	cursor: pointer;
}
.layoutBg {
	background:#f2f2f2
}
.button-cancel{
	display: inline-block;
	height: 50px;
	width: 160px;
	background:rgba(255,248,242,1);
	border-radius:2px;
	border:1px solid rgba(254,129,53,1);
	color: #FE8135;
	font-size: 16px;
	margin-right: 20px;
}
.button-ok{
	display: inline-block;
	height: 50px;
	width: 160px;
	background:#FE8135;
	border-radius:2px;
	border:1px solid #FE8135;
	color: #fff;
	font-size: 16px;
}
.input-four{
	height: 40px;
	font-size: 14px;
}
