/**
 * 工具样式
 * @author zhangpeng
 */
@import './lib.less';

.flex-box {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-omit {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-center-footer {
  text-align: center;
}
